body {
  background: #000; }

div {
  font-family: monospace;
  font-size: 16pt; }

a, a:visited {
  color: #34e2e2;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

.container {
  display: inline-block;
  padding: 10px; }

.top {
  font-weight: bold;
  color: #34e2e2;
  background: #222;
  border: 1px #34e2e2 solid;
  padding: 10px; }

.element {
  padding: 7px;
  border-left: 1px #34e2e2 solid;
  border-right: 1px #34e2e2 solid;
  border-top: none; }

.last {
  border-bottom: 1px #34e2e2 solid; }
