$foreground-color: #34e2e2;
$border: 1px $foreground-color solid;

html {
  font-size: 62.5%;
}

body {
  background: #000
}

div {
  font-family: monospace;
  color: $foreground-color;
  font-size: 2rem;
}

a, a:visited {
  display: block;
  color: $foreground-color;
  text-decoration: none;
  padding: 7px;

  &:hover {
    text-decoration: underline;
  }
}

.project-grid {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, max-content));
}

.project {
  border: $border;
  border-top: none;

  &-title {
    background: #222;
    font-size: 2rem;
    border-bottom: $border;
    border-top: $border;
    font-weight: bold;
    padding: 1rem;
  }

  &-section {
    position: relative;

    &:not(:last-child){
      border-bottom: $border;
    }

    &-title {
      position: absolute;
      bottom: 50%;
      right: 1rem;
      writing-mode: tb;
      text-align: center;
      transform: rotate(-180deg) translate(0, -50%);
    }
  }
}

